<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
  <form class="form-horizontal m" id="form-product-detail" th:object="${product}">
    <div class="form-group">
      <label class="col-sm-3 control-label">产品标志：</label>
      <div class="col-sm-8">
        <input readonly name="prodFlag" th:field="*{prodFlag}" class="form-control" type="text">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">产品编码：</label>
      <div class="col-sm-8">
        <input readonly name="prodCode" th:field="*{prodCode}" class="form-control" type="text">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">产品名称：</label>
      <div class="col-sm-8">
        <input readonly name="prodName" th:field="*{prodName}" class="form-control" type="text">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">产品状态：</label>
      <div class="col-sm-8">
        <select class="form-control" disabled="disabled" name="prodStatus"
                th:with="type=${@dict.getType('pro_prod_status')}">
          <option th:field="*{prodStatus}" th:each="dict : ${type}" th:text="${dict.dictLabel}"
                  th:value="${dict.dictValue}"></option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">产品类型：</label>
      <div class="col-sm-8">
        <select class="form-control" disabled="disabled" name="prodType"
                th:with="type=${@dict.getType('pro_prod_type')}">
          <option th:field="*{prodType}" th:each="dict : ${type}" th:text="${dict.dictLabel}"
                  th:value="${dict.dictValue}"></option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">所属服务：</label>
      <div class="col-sm-8">
        <input readonly name="service" th:field="*{service}" class="form-control" type="text">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">申请表：</label>
      <div class="col-sm-8">
        <input readonly name="applyTable" th:field="*{applyTable}" class="form-control" type="text">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">结果表：</label>
      <div class="col-sm-8">
        <input readonly name="resultTable" th:field="*{resultTable}" class="form-control" type="text">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">上线金服：</label>
      <div class="col-sm-8">
        <select class="form-control" disabled="disabled" name="isXgdfin"
                th:with="type=${@dict.getType('pro_is_xgdfin')}">
          <option th:field="*{isXgdfin}" th:each="dict : ${type}" th:text="${dict.dictLabel}"
                  th:value="${dict.dictValue}"></option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">上线信联：</label>
      <div class="col-sm-8">
        <select class="form-control" disabled="disabled" name="isCredlink"
                th:with="type=${@dict.getType('pro_is_credlink')}">
          <option th:field="*{isCredlink}" th:each="dict : ${type}" th:text="${dict.dictLabel}"
                  th:value="${dict.dictValue}"></option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">上线银行：</label>
      <div class="col-sm-8">
        <select class="form-control" disabled="disabled" id="pro-detail-isBank" name="isBank"
                th:with="type=${@dict.getType('pro_is_bank')}">
          <option th:field="*{isBank}" th:each="dict : ${type}" th:text="${dict.dictLabel}"
                  th:value="${dict.dictValue}"></option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">组合产品：</label>
      <div class="col-sm-8">
        <select class="form-control" disabled="disabled" id="pro-detail-isComb" name="isComb"
                th:with="type=${@dict.getType('pro_is_comb')}">
          <option th:field="*{isComb}" th:each="dict : ${type}" th:text="${dict.dictLabel}"
                  th:value="${dict.dictValue}"></option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">上线银行列表：</label>
      <div class="col-sm-8">
        <input readonly id="pro-detail-banklist" name="banklist" th:field="*{banklist}" class="form-control"
               type="text">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">依赖产品标志：</label>
      <div class="col-sm-8">
        <input readonly id="pro-detail-dependProdFlag" name="dependProdFlag" th:field="*{dependProdFlag}"
               class="form-control" type="text">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Demo名：</label>
      <div class="col-sm-8">
        <input readonly name="demo" th:field="*{demo}" class="form-control" type="text">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">类名称：</label>
      <div class="col-sm-8">
        <input readonly name="className" th:field="*{className}" class="form-control" type="text">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">方法名：</label>
      <div class="col-sm-8">
        <input readonly name="function" th:field="*{function}" class="form-control" type="text">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Ins菜单：</label>
      <div class="col-sm-8">
        <input readonly name="ins" th:field="*{ins}" class="form-control" type="text">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Api接口：</label>
      <div class="col-sm-8">
        <input readonly name="api" th:field="*{api}" class="form-control" type="text">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">开发人员：</label>
      <div class="col-sm-8">
        <input readonly name="kfPersonName" th:field="*{kfPersonName}" class="form-control" type="text">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">测试人员：</label>
      <div class="col-sm-8">
        <input readonly name="csPersonName" th:field="*{csPersonName}" class="form-control" type="text">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">备注信息：</label>
      <div class="col-sm-8">
        <input readonly name="remark" th:field="*{remark}" class="form-control" type="text">
      </div>
    </div>
  </form>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript">

  $(function () {
    edit_selectChilInputVisible('pro-detail-isBank', 'pro-detail-banklist');
    edit_selectChilInputVisible('pro-detail-isComb', 'pro-detail-dependProdFlag');
  })

  // 带出select的关联输入框
  function edit_selectChilInputVisible(parentId, chilId) {
    var isBankSelect = $("#" + parentId).val();
    if (isBankSelect == '1') {
      $("#" + chilId).parents(".form-group").show();
    } else {
      $("#" + chilId).parents(".form-group").hide();
    }

  }
</script>
</body>
</html>
