<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
  <form class="form-horizontal m" id="form-product-edit" th:object="${product}">
    <div class="form-group">
      <label class="col-sm-3 control-label">产品标志：</label>
      <div class="col-sm-8">
        <input readonly id="pro-edit-prodFlag" name="prodFlag" th:field="*{prodFlag}" class="form-control" type="text">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">产品编码：</label>
      <div class="col-sm-8">
        <input id="pro-edit-prodCode" name="prodCode" th:field="*{prodCode}" class="form-control" type="text">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">产品名称：</label>
      <div class="col-sm-8">
        <input id="pro-edit-prodName" name="prodName" th:field="*{prodName}" placeholder="--必输项--" class="form-control"
               type="text">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">产品状态：</label>
      <div class="col-sm-8">
        <select class="form-control" id="pro-edit-prodStatus" name="prodStatus"
                th:with="type=${@dict.getType('pro_prod_status')}">
          <option value="">--必输项--</option>
          <option th:field="*{prodStatus}" th:each="dict : ${type}" th:text="${dict.dictLabel}"
                  th:value="${dict.dictValue}"></option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">产品类型：</label>
      <div class="col-sm-8">
        <select class="form-control" id="pro-edit-prodType" name="prodType"
                th:with="type=${@dict.getType('pro_prod_type')}">
          <option value="">--必输项--</option>
          <option th:field="*{prodType}" th:each="dict : ${type}" th:text="${dict.dictLabel}"
                  th:value="${dict.dictValue}"></option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">所属服务：</label>
      <div class="col-sm-8">
        <input id="pro-edit-service" name="service" th:field="*{service}" class="form-control" type="text">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">申请表：</label>
      <div class="col-sm-8">
        <input id="pro-edit-applyTable" name="applyTable" th:field="*{applyTable}" class="form-control" type="text">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">结果表：</label>
      <div class="col-sm-8">
        <input id="pro-edit-resultTable" name="resultTable" th:field="*{resultTable}" class="form-control" type="text">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">上线金服：</label>
      <div class="col-sm-8">
        <select class="form-control" id="pro-edit-isXgdfin" name="isXgdfin"
                th:with="type=${@dict.getType('pro_is_xgdfin')}">
          <option value="">--必输项--</option>
          <option th:field="*{isXgdfin}" th:each="dict : ${type}" th:text="${dict.dictLabel}"
                  th:value="${dict.dictValue}"></option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">上线信联：</label>
      <div class="col-sm-8">
        <select class="form-control" id="pro-edit-isCredlink" name="isCredlink"
                th:with="type=${@dict.getType('pro_is_credlink')}">
          <option value="">--必输项--</option>
          <option th:field="*{isCredlink}" th:each="dict : ${type}" th:text="${dict.dictLabel}"
                  th:value="${dict.dictValue}"></option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">上线银行：</label>
      <div class="col-sm-8">
        <select class="form-control" id="pro-edit-isBank" name="isBank" th:with="type=${@dict.getType('pro_is_bank')}"
                onchange="edit_selectChilInputVisible('pro-edit-isBank', 'pro-edit-banklist')">
          <option value="">--必输项--</option>
          <option th:field="*{isBank}" th:each="dict : ${type}" th:text="${dict.dictLabel}"
                  th:value="${dict.dictValue}"></option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">上线银行列表：</label>
      <div class="col-sm-8">
        <input id="pro-edit-banklist" name="banklist" placeholder="--必输项--" th:field="*{banklist}" class="form-control" type="text">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">组合产品：</label>
      <div class="col-sm-8">
        <select class="form-control" id="pro-edit-isComb" name="isComb" th:with="type=${@dict.getType('pro_is_comb')}"
                onchange="edit_selectChilInputVisible('pro-edit-isComb', 'pro-edit-dependProdFlag')">
          <option value="">--必输项--</option>
          <option th:field="*{isComb}" th:each="dict : ${type}" th:text="${dict.dictLabel}"
                  th:value="${dict.dictValue}"></option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">依赖产品标志：</label>
      <div class="col-sm-8">
        <input id="pro-edit-dependProdFlag" onblur="verifDependProdFlag()" name="dependProdFlag" placeholder="--必输项--" th:field="*{dependProdFlag}" class="form-control"
               type="text">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Demo名：</label>
      <div class="col-sm-8">
        <input id="pro-edit-demo" name="demo" th:field="*{demo}" class="form-control" type="text">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">类名称：</label>
      <div class="col-sm-8">
        <input id="pro-edit-className" name="className" th:field="*{className}" class="form-control" type="text">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">方法名：</label>
      <div class="col-sm-8">
        <input id="pro-edit-function" name="function" th:field="*{function}" class="form-control" type="text">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Ins菜单：</label>
      <div class="col-sm-8">
        <input id="pro-edit-ins" name="ins" th:field="*{ins}" placeholder="格式:/xx/xx.do,不需要host:port"
               class="form-control" type="text">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Api接口：</label>
      <div class="col-sm-8">
        <input id="pro-edit-api" name="api" th:field="*{api}" placeholder="格式:/xx/xx.do,不需要host:port"
               class="form-control" type="text">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">开发人员：</label>
      <div class="col-sm-8">
        <input id="pro-edit-kfPersonName" name="kfPersonName" placeholder="--必输项--" th:field="*{kfPersonName}" class="form-control"
               type="text">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">测试人员：</label>
      <div class="col-sm-8">
        <input id="pro-edit-csPersonName" name="csPersonName" th:field="*{csPersonName}" class="form-control"
               type="text">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">备注信息：</label>
      <div class="col-sm-8">
        <input id="pro-edit-remark" name="remark" th:field="*{remark}" class="form-control" type="text">
      </div>
    </div>
  </form>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript">

  var prefix = ctx + "module/product";
  var failFlag = false;

  $(function () {
    $('div.col-sm-8').append('<span  style="color: red; " hidden/>');
    edit_selectChilInputVisible('pro-edit-isBank', 'pro-edit-banklist');
    edit_selectChilInputVisible('pro-edit-isComb', 'pro-edit-dependProdFlag');
  })

  $("#form-product-edit").validate({
    rules: {
      xxxx: {
        required: true,
      },
    }
  });

  // 带出select的关联输入框
  function edit_selectChilInputVisible(parentId, chilId) {
    var isBankSelect = $("#" + parentId).val();
    if (isBankSelect == '1') {
      $("#" + chilId).parents(".form-group").show();
    } else {
      $("#" + chilId).parents(".form-group").hide();
    }

  }

  // select的带出输入框校验
  function edit_selectChilInputVerfi(chilId) {
    var siMap = {};
    siMap["pro-edit-dependProdFlag"] = "pro-edit-isComb";  //是否组合产品
    siMap["pro-edit-banklist"] = "pro-edit-isBank";       // 是否上线银行

    if (siMap.hasOwnProperty(chilId)) {
      // select 的值
      var parentId = siMap[chilId];
      var parentValue = $("#" + parentId).val().trim();
      // select 没被选中
      if (parentValue == '0') {
        $(this).parent().find('span').hide();
        // 清空带出输入框旧数据
        $("#" + chilId).val(null);
        return true;
      }
    }
    return false;
  }

  // 参数校验
  function edit_paramVerifi() {

    failFlag = false;

    // 必输元素
    var specialElement = ["pro-edit-prodName", "pro-edit-banklist", "pro-edit-dependProdFlag",
                          "pro-edit-prodStatus", "pro-edit-prodType", "pro-edit-isXgdfin",
                          "pro-edit-isCredlink", "pro-edit-isBank", "pro-edit-isComb",
                          "pro-edit-kfPersonName"];
    var allInpSel = $('#form-product-edit').find('input, select').not('#pro-edit-remark');

    allInpSel.each(function () {

      var id = $(this).attr("id");
      var inpSelValue = $(this).val().trim();

      // 必输元素校验
      if(specialElement.indexOf(id)>-1){
        // 带出输入框校验
        if (edit_selectChilInputVerfi(id)) {
          // continue
          return true;
        }
        // 非空校验
        if (inpSelValue == '' || inpSelValue == null) {
          failFlag = true;
        }
      }
      // 包含空格
      if (inpSelValue.indexOf(" ") >= 0){
        failFlag = true;
      }

      // 存在错误输入
      if (failFlag){
        var labelName = $(this).parent().prev("label").text();
        $.modal.alertWarning(labelName + " 必输项为空或中间包含空格");
        $(this).parent().find('span').text("必输项为空或中间包含空格").show();
        // break
        return false;
      } else {
        if (id!="pro-edit-dependProdFlag"){
          $(this).parent().find('span').hide();
        }
      }
    });

    if ($("span").is(':visible')){
      failFlag = true;
    }

    return failFlag;
  }

  function submitHandler() {
    if ($.validate.form()) {
      var flag = edit_paramVerifi();
      if (flag == true) {
        return false;
      }
      $.operate.save(prefix + "/edit", $('#form-product-edit').serialize());
    }
  }

  // 依赖产品标志存在校验
  function verifDependProdFlag() {
    var dependProdFlagValue = $('#pro-edit-dependProdFlag').val().trim();
    var proFlagValue = $("#pro-edit-prodFlag").val().trim();
    $.ajax({
      type: 'post',
      url: "/module/product/verifProdFlag?flagValue=" + dependProdFlagValue + "&type=dependProd",
      success: function (data) {

        if(proFlagValue == dependProdFlagValue){
          data.rspMsg = "产品不能依赖自身";
          data.rspCode = "000099";
        }

        if (data.rspCode != '000000') {
          failFlag = true;
          $("#pro-edit-dependProdFlag").parent().find("span").text(data.rspMsg).show();
        } else {
          $("#pro-edit-dependProdFlag").parent().find("span").hide();
        }
      }
    });
  }
</script>
</body>
</html>
