<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="container-div ui-layout-center">
	<div class="row">
		<!--条件搜索-->
		<div class="col-sm-12 search-collapse">
			<form class="form-horizontal m" id="pro-search-form">
				<!-- 产品标志 -->
				<input name="prodFlag" hidden type="text">
				<!-- 产品编码 -->
				<input name="prodCode" hidden type="text">
				<!-- 产品名称 -->
				<input name="prodName" hidden type="text">
				<!-- 申请表 -->
				<input name="applyTable" hidden type="text">
				<!-- 结果表 -->
				<input name="resultTable" hidden type="text">
				<!-- 上线银行列表 -->
				<input name="banklist" hidden type="text">
				<!-- 依赖产品标志 -->
				<input name="dependProdFlag" hidden type="text">
				<!-- 开发维护人员姓名 -->
				<input name="kfPersonName" hidden type="text">
				<!-- 测试人员姓名 -->
				<input name="csPersonName" hidden type="text">
				<!-- demo名称 -->
				<input name="demo" hidden type="text">
				<!-- 接口地址 -->
				<input name="api" hidden type="text">
				<!-- ins菜单地址 -->
				<input name="ins" hidden type="text">
				<!-- 所属服务 -->
				<input name="service" hidden type="text">
				<!-- 类名 -->
				<input name="className" hidden type="text">
				<!-- 方法名 -->
				<input name="function" hidden type="text">
				<!-- 备注 -->
				<input name="remark" hidden type="text">
				<div class="form-horizontal m">
					<div class="form-group">
						<label class="col-sm-1 control-label">全局搜索：</label>
						<div class="col-sm-2">
							<input id="pro-product-globalQuery" class="form-control" type="text">
						</div>
					</div>
				</div>
				<div class="form-horizontal m">
					<div class="form-group">
						<label class="col-sm-1 control-label">产品状态：</label>
						<div class="col-sm-2">
							<select class="form-control" name="prodStatus" th:with="type=${@dict.getType('pro_prod_status')}">
								<option value="">所有</option>
								<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
							</select>
						</div>
						<label class="col-sm-1 control-label">上线金服：</label>
						<div class="col-sm-2">
							<select class="form-control" name="isXgdfin" th:with="type=${@dict.getType('pro_is_xgdfin')}">
								<option value="">所有</option>
								<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
							</select>
						</div>
						<label class="col-sm-1 control-label">上线信联：</label>
						<div class="col-sm-2">
							<select class="form-control" name="isCredlink" th:with="type=${@dict.getType('pro_is_credlink')}">
								<option value="">所有</option>
								<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
							</select>
						</div>
						<label class="col-sm-1 control-label">上线银行：</label>
						<div class="col-sm-2">
							<select class="form-control" name="isBank" th:with="type=${@dict.getType('pro_is_bank')}"
											onchange="add_bankListVisible()">
								<option value="">所有</option>
								<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
							</select>
						</div>
					</div>
				</div>
				<div class="form-horizontal m">
					<div class="btn-group-sm hidden-xs">
						<a class="btn btn-primary btn-rounded btn-sm" onclick="globalQuery()"><i
								class="fa fa-search"></i>&nbsp;搜索</a>
						<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
					</div>
				</div>
			</form>
		</div>

		<div class="btn-group-sm hidden-xs" id="toolbar" role="group">
			<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="module:product:add">
				<i class="fa fa-plus"></i> 添加
			</a>
			<a class="btn btn-primary btn-edit disabled" onclick="$.operate.detail()"
				 shiro:hasPermission="module:product:detail">
				<i class="fa fa-list"></i> 查看
			</a>
			<a class="btn btn-warning btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="module:product:edit">
				<i class="fa fa-edit"></i> 修改
			</a>
			<!--<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()"-->
				 <!--shiro:hasPermission="module:product:remove">-->
				<!--<i class="fa fa-remove"></i> 删除-->
			<!--</a>-->
		</div>

		<div class="col-sm-12 select-table table-striped">
			<table id="bootstrap-table" data-mobile-responsive="true"></table>
		</div>
	</div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
  var datas = [[${@dict.getType('pro_prod_status')}]];
  var prefix = ctx + "module/product";

  // 全局搜索
  function globalQuery() {
    var globalValue = $("#pro-product-globalQuery").val().trim();
    $('#pro-search-form').find('input').val(globalValue);
    $.table.search();
  }

  function isBlank(value) {
    if (value == null || value == '') {
      return "-";
    } else {
      return value;
    }
  }

  var detailFlag = [[${@permission.hasPermi('module:product:detail')}]];
  $(function () {

    // 是否上线金服
    var isXgdfinResult = {"1": "是", "0": "否"};
    // 是否上线信联云
    var isCredlinkResult = {"1": "是", "0": "否"};
    // 是否上线银行
    var isBankResult = {"1": "是", "0": "否"};

    var options = {
      url: prefix + "/list",
      createUrl: prefix + "/add",
      detailUrl: prefix + "/detail/{id}",
      updateUrl: prefix + "/edit/{id}",
      removeUrl: prefix + "/remove",
      modalName: "产品",
      uniqueId: "prodFlag",
      striped: "true",
      search: false,
      showExport: false,
      columns: [{
        checkbox: true
      },
        {
          field: 'prodFlag',
          title: '产品标志',
          align: 'left',
          formatter: function (value) {
            return isBlank(value);
          }
        },
        {
          field: 'prodName',
          title: '产品名称',
          align: 'left',
          formatter: function (value, row, index) {
            var actions = [];
            actions.push('<b><a href="#" onclick="$.operate.detail(\'' + row.prodFlag + '\')">'+row.prodName+'</a></b>');
            return actions.join('');
          }
        },
        {
          field: 'prodCode',
          title: '产品编码',
          align: 'left',
          formatter: function (value) {
            return isBlank(value);
          }
        },
        {
          field: 'prodStatus',
          title: '产品状态',
          align: 'left',
          formatter: function (value) {
            if (value != null && value != "") {
              return $.table.selectDictLabel(datas, value);
            } else {
              return "-";
            }
          }
        },
        {
          field: 'applyTable',
          title: '申请表名',
          align: 'left',
          formatter: function (value) {
            return isBlank(value);
          }
        },
        {
          field: 'service',
          title: '所属服务',
          align: 'left',
          formatter: function (value) {
            return isBlank(value);
          }
        },
        {
          field: 'api',
          title: 'Api接口',
          align: 'left',
          formatter: function (value) {
            return isBlank(value);
          }
        },
        {
          field: 'isXgdfin',
          title: '上线金服',
          align: 'center',
          formatter: function (value) {
            var isXgdfin = isXgdfinResult[value];
            return isBlank(isXgdfin);
          }
        },
        {
          field: 'isCredlink',
          title: '上线信联',
          align: 'center',
          formatter: function (value) {
            var isCredlink = isCredlinkResult[value];
            return isBlank(isCredlink);
          }
        },
        {
          field: 'isBank',
          title: '上线银行',
          align: 'center',
          formatter: function (value) {
            var isBank = isBankResult[value];
            return isBlank(isBank);
          }
        },
        {
          field: 'demo',
          title: 'Demo名',
          align: 'left',
          formatter: function (value) {
            return isBlank(value);
          }
        },
        {
          field: 'kfPersonName',
          title: '开发人员',
          align: 'left',
          formatter: function (value) {
            return isBlank(value);
          }
        },
        {
          field: 'csPersonName',
          title: '测试人员',
          align: 'left',
          formatter: function (value) {
            return isBlank(value);
          }
        }
      ]
    };
    $.table.init(options);
  });
</script>
</body>
</html>