<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link th:href="@{/ajax/libs/jquery-layout/jquery.layout-latest.css}" rel="stylesheet"/>
<link th:href="@{/ajax/libs/jquery-ztree/3.5/css/metro/zTreeStyle.css}" rel="stylesheet"/>

<body class="gray-bg">
	<div class="container-div ui-layout-center">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="user-form">
					<input type="hidden" id="deptId" name="deptId">
					<input type="hidden" id="parentId" name="parentId">
					<div class="select-list">
						<ul>
							<li>
								用户名称：<input type="text" name="userName"/>
							</li>
							<li>
									所在部门：<select id="deptName" name="dept.deptName"></select>
							</li>
							<li>
								手机号码：<input type="text" name="phonenumber"/>
							</li>
							<li>
								用户状态：<select name="status" th:with="type=${@dict.getType('sys_normal_disable')}">
									<option value="">所有</option>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
								</select>
							</li>
							<li class="select-time">
								<label>创建时间： </label>
								<input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginTime]"/>
								<span>-</span>
								<input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endTime]"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
							    <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="col-sm-12 select-table table-striped">
			    <table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
			<div class="layui-layer-btn layui-layer-btn-"><a class="layui-layer-btn0 select-user-sure">确定</a><a class="layui-layer-btn1 select-user-close">关闭</a></div>
		</div>
	</div>
	
	<div th:include="include :: footer"></div>
	<script th:src="@{/ajax/libs/jquery-layout/jquery.layout-latest.js}"></script>
	<script th:src="@{/ajax/libs/jquery-ztree/3.5/js/jquery.ztree.all-3.5.js}"></script>
	<script th:inline="javascript">
		var prefix = ctx + "system/user";

		$(function() {
			$('body').layout({ west__size: 185 });
			queryUserList();
			
			$(".select-user-sure").on("click", function(){
				var rows = $.common.isEmpty($.table._option.email) ? $.table.selectFirstColumns() : $.table.selectColumns($.table._option.email);
		        if (rows.length == 0) {
		          $.modal.alertWarning("请至少选择一条记录");
		          return;
		        }
		        var $targetInp = $(parent.document).find(".custom-email-cs");
		        if($targetInp != undefined) {
		        	if($targetInp.val().length>0) $targetInp.val($targetInp.val() + ",")
		        	$targetInp.val($targetInp.val() + rows.join())
		        }
		        var index = parent.layer.getFrameIndex(window.name);
			    parent.layer.close(index);
			});
			$(".select-user-close").on("click", function(){
				var index = parent.layer.getFrameIndex(window.name);
			    parent.layer.close(index);
			});
		});

    function setDeptId() {
        $.post(prefix + "/query/deptId", {}, function (data) {
            var html = "";
            html += "<option></option>";
            $.each(data, function (i, o) {
                html += '<option value="'+o.deptName+'">' + o.deptName + '</option>';
            });
            $("#deptName").html(html);
        }, 'json');
    }

		function queryUserList() {
			var datas = [[${@dict.getType('sys_normal_disable')}]];
		    var options = {
		        url: prefix + "/list",
		        createUrl: prefix + "/add",
		        updateUrl: prefix + "/edit/{id}",
		        removeUrl: prefix + "/remove",
		        exportUrl: prefix + "/export",
		        sortName: "createTime",
		        sortOrder: "desc",
		        modalName: "用户",
		        search: false,
		        showExport: false,
		        columns: [{
		            checkbox: true
		        },
		        {
		            field: 'email',
		            title: '邮箱'
		        },
		        {
		            field: 'userName',
		            title: '用户名称'
		        },
		        {
		            field: 'dept.deptName',
		            title: '部门'
		        },
		        {
		            field: 'phonenumber',
		            title: '手机'
		        },
		        {
		            field: 'status',
		            title: '状态',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	return $.table.selectDictLabel(datas, value);
		            }
		        }]
		    };
		    $.table.init(options);
		}

		// 获取部门id
    setDeptId();
	</script>
</body>
</html>