<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('定位元素')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
    	<form id="formElementId">
	    	<input id="formId" name="formId" th:value="${udFormInfo.formId}"  type="hidden">
	    	<input id="formContent" name="formContent"  type="hidden">
    	</form>
    	<div class="row">
			<div class="row clearfix">
				<div class="col-md-12 column">
					<div class="row clearfix">
						<div class="col-md-12 column" style="text-align: center;" >
							<h3>表单名称:<span th:text="${udFormInfo.formName}"></span></h3>
						</div>
					</div>
					<div class="row clearfix">
						<div class="col-md-5 column" style="margin-left: 5%;">
							<div style="text-align: center;">
								<h4>元素列表</h4>
							</div>
							<table class="table table-bordered" id="addAutoFromId" contenteditable="true">
			                </table>
			                <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
								<a class="btn btn-success " onclick="addRow();">
									<i class="fa fa-plus"></i> 添加
								</a>
<!--								<a class="btn btn-danger" onclick="delRow();" >-->
<!--									<i class="fa fa-remove"></i> 删除-->
<!--								</a>-->
							</div>
						</div>
						<div class="col-md-6 column">
							<div style="text-align: center;">
								<h4>表单内容</h4>
							</div>
							<div style="text-align: center;">
								<div class="form-group">
									<!-- <button type="button" class="btn btn-dark" id="cknr">查看内容</button> -->
									<button type="button" class="btn btn-dark" onclick="viewHtml()">预览视图</button>
								</div>
							</div>
							<div>
								<textarea style="width:100%;height: 500px" th:text="${udFormInfo.formContent}" ></textarea>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
    	var count = 0;
		var prefix = ctx + "activiti/udFormInfo";
		//提交
		function submitHandler() {
			var from = [];
			var b = false;
			$("#addAutoFromId").find("tbody").find("tr").each(function(i,o){
				var td1 = $(this).find("td").eq(1).children().val();
				var td2 = $(this).find("td").eq(2).children().val();
				var td3 = $(this).find("td").eq(3).children().val();
				if(isNullstr(td1) ||isNullstr(td2) ||isNullstr(td3)){
					b = true;
				}
				console.log(td1,td2,td3);
				from[i] = new AutoFromColumn(td1, td2, td3);
			});	        
			if(b){
				return;
			}
			if(from.length <= 0 ){
				$.modal.alert("元素列表不能为空");
				return;
			}
	        $("#formContent").val(JSON.stringify(from));
	        $.operate.save(prefix + "/element/save", $('#formElementId').serialize());
	    }

		$(function(){			
			//数据回显
			var options = {
				id: "addAutoFromId",
	        	uniqueId: "addAutoFromId",
	            url: prefix + "/element/hui?fromId="+$("#formId").val(),
	            modalName: "表单",
		        search: false,
		        showExport: false,
		        showRefresh: false,
		        showToggle: false,
		        showColumns: false,
		        showSearch: false,
		        pagination: false,
	            columns: [
	            {
	                field: 'elementId',
	                title: '序号',
	                formatter: function (value, row, index) {
		        		return countStr(index);
		        	}
	            },
	            {
	                field: 'elementTitle',
	                title: '元素标题',
					formatter: function(value, row, index) {
						var actions = [];
						actions.push('<input type="text" value="'+value+'">');
						return actions.join('');
					}
	            },
	            {
	                field: 'elementCode',
	                title: '元素代码',
					formatter: function(value, row, index) {
						var actions = [];
						actions.push('<input type="text" value="'+value+'">');
						return actions.join('');
					}
	            },
	            {
	                field: 'elementType',
	                title: '元素类型',
					formatter: function(value, row, index) {
						var actions = [];
						actions.push('<input type="text" value="'+value+'">');
						return actions.join('');
					}
	            },
				{
						title: '操作',
						align: 'center',
						formatter: function(value, row, index) {
							var actions = [];
							actions.push('<button type="button" class="btn btn-outline btn-success btn-sm" href="#" onclick="removeData(this)">删除</button>');
							return actions.join('');
						}
				}]
	        };
	        $.table.init(options);
		});
		
		function countStr(index){
			count = index+1;
			return count;
		}
		
		//添加行
	    function addRow(){
			count++;
	    	var html = "";
	    	html += "<tr>";
	    		html += "<td>"+count+"</td>";
	    		html += "<td><input type='text'></td>";
	    		html += "<td><input type='text'></td>";
	    		html += "<td><input type='text' value='text'></td>";
	    		html += "<td><button type=\"button\" class=\"btn btn-outline btn-success btn-sm\" href=\"#\" onclick=\"removeData(this)\">删除</button>";
	    	html += "</tr>";
	    	$("#addAutoFromId").find("tbody").append(html);
	    }
	    
	    //删除列
	    // function delRow(){
	    // 	if(count <= 0){
	    // 		count = 0;
	    // 		return;
	    // 	}
	    // 	count--;
	    // 	$("#addAutoFromId").find("tbody").find("tr:last").remove();
	    // }
	    //空值判断
	    function isNullstr(str){
	    	if(str == '' || str == undefined || str == null){
	    		$.modal.alert("请将表格填写完整");
	    		return true;
	    	}
	    	return false;
	    }

	    //删除表格中某行数据
		function removeData(self) {
			$(self).parent().parent().remove();
		}
	    
	    //表单对象
	    function AutoFromColumn(elementTitle,elementCode,elementType){
			this.elementTitle = elementTitle;
			this.elementCode = elementCode;
			this.elementType = elementType;
		}
		
		function viewHtml(){
	    	var url = prefix + '/view/html?formId='+$("#formId").val();
			$.modal.openFull("查看表单", url);
	    }
	</script>
</body>
</html>
