<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('自定义单列表')" />
</head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								表单名称：<input type="text" name="formName"/>
							</li>
							<li>
								<button type="button" class="btn btn-default btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</button>
								<button type="button" class="btn btn-default btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</button>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="activiti:udFormInfo:add">
					<i class="fa fa-plus"></i> 添加
				</a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('activiti:udFormInfo:edit')}]];
        var viewFlag = [[${@permission.hasPermi('activiti:udFormInfo:view')}]];
        var addFlag = [[${@permission.hasPermi('activiti:udFormInfo:add')}]];
        var elementhuiFlag = [[${@permission.hasPermi('activiti:udFormInfo:elementhui')}]];
        var prefix = ctx + "activiti/udFormInfo";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "自定义单",
		        showExport: true,
		        search: false,
				showSearch: false,
				showColumns: false,
				showToggle: false,
				showExport: false,
				showRefresh: false,
                columns: [
				{
					title: "序号",
					formatter: function (value, row, index) {
						return $.table.serialNumber(index);
					}
				},
				{
					field : 'formId', 
					title : '表单编号',
					visible: false
				},
				{
					field : 'formName', 
					title : '表单名称'
				},
				{
					field : 'description', 
					title : '描述'
				},
				{
					field : 'createUserId', 
					title : '创建人'
				},
				{
					field : 'createTime', 
					title : '创建时间'
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<button type="button" class="btn btn-outline btn-success btn-sm ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.formId + '\')">编辑</button> ');
                        actions.push('<button type="button" class="btn btn-outline btn-success btn-sm ' + viewFlag + '" href="#" onclick="view(\'' + row.formId + '\')">查看</button> ');
                        actions.push('<button type="button" class="btn btn-outline btn-success btn-sm ' + elementhuiFlag + '" href="#" onclick="element(\'' + row.formId + '\')">定位元素</button> ');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
        
        function view(id){
			var url = prefix + '/view?formId='+id;
			$.modal.open("查看表单", url, '800', '600');
		}
		
		function element(id){
			var url = prefix + '/element/'+id;
			$.modal.openFull("查看表单", url);
		}
    </script>
</body>
</html>