<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('修改自定义单')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-udFormInfo-edit" th:object="${udFormInfo}">
            <input id="formId" name="formId" th:field="*{formId}"  type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label">表单名称：</label>
				<div class="col-sm-8">
					<input id="formName" name="formName" th:field="*{formName}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">表单内容：</label>
				<div class="col-sm-8">
					<!-- <input id="formContent"  th:field="*{formContent}" class="form-control" type="text"> -->
					<textarea id="bdnr" class="form-control"  th:field="*{formContent}" ></textarea>
				</div>
			</div>	
			<div class="form-group">
				<label class="col-sm-3 control-label">表单操作：</label>
				<div class="col-sm-8">
					<button type="button" class="btn btn-dark" onclick="viewHtml()">预览视图</button>
				</div>
			</div>	
			<div class="form-group">	
				<label class="col-sm-3 control-label">备注说明：</label>
				<div class="col-sm-8">
					<input id="description" name="description" th:field="*{description}" class="form-control" type="text">
				</div>
			</div>
						<div class="form-group">	
				<label class="col-sm-3 control-label">创建人：</label>
				<div class="col-sm-8">
					<input id="createUserId" name="createUserId" th:field="*{createUserId}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">创建时间：</label>
				<div class="col-sm-8">
					<input id="createTime" name="createTime" th:value="${#dates.format(udFormInfo.createTime,'yyyy-MM-dd HH:mm:ss')}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">修改人：</label>
				<div class="col-sm-8">
					<input id="updateUserId" name="updateUserId" th:field="*{updateUserId}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">修改时间：</label>
				<div class="col-sm-8">
					<input id="updateTime" name="updateTime" th:value="${#dates.format(udFormInfo.updateTime,'yyyy-MM-dd HH:mm:ss')}" class="form-control" type="text"  >
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
    	var prefix = ctx + "activiti/udFormInfo";
		function submitHandler() {
	        $.modal.close();
	    }
	    $(function(){
	    	$("input").attr("readonly","readonly");
	    	$("#cknr,#ylst").click(function(){
	    		var content = $("#bdnr").text();
	    		layer.open({
					  title: '查看内容',					  
					  content: content
				});
	    	});
	    });
	    function viewHtml(){
	    	var url = prefix + '/view/html?formId='+$("#formId").val();
			$.modal.openFull("查看表单", url);
	    }
	</script>
</body>
</html>
